version: '3'

services:
  mysql:
       image: mysql:5.7
       container_name: rename-db
       ports:
         - "3306:3306"
       restart: always
       environment:
         - MYSQL_DATABASE=rmkr
         - MYSQL_RANDOM_ROOT_PASSWORD=yes
       env_file:
         - ./credentials.env
       volumes:
         - "./rmkr.sql:/docker-entrypoint-initdb.d/rmkr.sql:ro"

  web:
       build: .
       container_name: rename.kr.ua
       ports:
          - "80:80"
       restart: always
       environment:
         - MYSQL_HOSTNAME=mysql
         - MYSQL_DATABASE=rmkr
       env_file:
         - ./credentials.env
       links:
         - mysql
